<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/" *ngIf="accessType === 'Administrador'">Home</a>
            <a href="/event/list" *ngIf="accessType === 'Colaborador'">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Meu perfil</li>
    </ol>
</nav>
<a class="btn btn-back arrow-back" href="/" *ngIf="accessType === 'Administrador'">
    <span class="material-icons">arrow_back</span>
</a>
<a class="btn btn-back arrow-back" href="/event/list" *ngIf="accessType === 'Colaborador'">
    <span class="material-icons">arrow_back</span>
</a>
<div class="article">
    <h1>Meu perfil</h1>
    <hr>
    <form class="form" [formGroup]="form">

        <div class="form-row">
            <div class="form-group col-12 mt-2">
                <label for="name" class="text-name">Nome</label>
                <input type="name" class="field-name" id="name" formControlName="name" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 mt-2">
                <label for="email" class="text-name">Email</label>
                <input type="email" class="field-name" id="email" formControlName="email" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 mt-2">
                <label for="phone" class="text-name">Telefone</label>
                <input type="text" class="field-name" id="phone" formControlName="phone" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 mt-2">
                <label for="address" class="text-name">Endereço</label>
                <input type="text" class="field-name" id="address" formControlName="address" readonly>
            </div>
        </div>
    </form>
</div>