.breadcrumb {
  padding: 10px;
}
h1 {
  font-size: 28px;
  color: rgba(10, 6, 87, 0.975);
  margin-bottom: 20px;
}
h2 {
  color: rgba(10, 6, 87, 0.975);
  margin-top: 20px;
}
h3 {
  color: rgba(10, 6, 87, 0.975);
}
h4 {
  color: rgba(10, 6, 87, 0.975);
}
ul {
  list-style-type: disc;
  margin-left: 20px;
}
.article {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-back {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  border: 2px solid #06112e;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #06112e;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: white;
    background-color: #06112e;
    &:before {
      width: 100%;
    }
  }
  display: inline-flex;
  align-items: center;
}

.text-name {
  font-size: 16px;
  color: #555;
}

.field-name {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}