<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/list">Produto</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</nav>
<h1>Editar Informações do Evento</h1>
<hr>

<form class="form" method="post" (ngSubmit)="update()" [formGroup]="form">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="description">Descrição</label>
            <input type="text" class="form-control" id="description" placeholder="Descrição" formControlName="description">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="date">Descrição</label>
            <input type="text" class="form-control" id="date" placeholder="Data" formControlName="date">
        </div>
        <div class="col-12 text-end mt-2">
            <div class="col-12 text-end mt-2">
                <a class="btn btn-secondary col-2 me-4" href="/event/list">Voltar</a>
                <button class="btn btn-primary col-2">Atualizar</button>
            </div>
        </div>
    </div>
</form>
