<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Sobre</li>
    </ol>
</nav>

<a class="btn btn-back arrow-back" href="/" *ngIf="accessType === 'adm'">
    <span class="material-icons">arrow_back</span>
</a>

<a class="btn btn-back arrow-back" href="/event/list" *ngIf="accessType === 'colab'">
    <span class="material-icons">arrow_back</span>
</a>

<div class="article">
    <h1>Sobre Nós</h1>
    <hr>
    O <em>Task Sync</em> é um sistema desenvolvido para gerenciar eventos, atividades, pessoas com cronogramas de forma
    eficiente e organizada. Ele foi projetado para melhorar a comunicação, a transparência, e a distribuição de
    responsabilidades dentro de uma equipe.

    <div class="map">
        <h1>Onde nos encontrar</h1>
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.2987501868945!2d-45.70743878471106!3d-22.253322285336473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8831df214e931%3A0xb55ff11b1cba73f5!2sAv.%20Sinh%C3%A1%20Moreira%2C%20161-221%20-%20Centro%2C%20Santa%20Rita%20do%20Sapuca%C3%AD%20-%20MG%2C%2037540-000%2C%20Brazil!5e0!3m2!1sen!2sus!4v1691832659816!5m2!1sen!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>

</div>