.btn-create {
    background-color: #002fa3;
    border: none;
    color: white;
}

.imagem-container {
    width: 100%;
    height: auto;
    text-align: left;
}


.imagem-container img {
    max-width: 100%;
    height: auto;
}

.example-card {
    max-width: 300px;
    margin-left:20px;
	margin-top: 20px;
    
}

.sub-text-card {
    flex: 1 1 auto;
    margin-right:40px;
	margin-top: 10px;
    margin-bottom: 10px;
}

.body-text-card {
    margin-top: 10px;
    flex: 1 1 auto;   
}

.column {
    align-items: center;
    justify-content: center;
}

.thead-style {
    background-color: #002fa3;
    color: white;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}

.description-col {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-pdf {
    background-color: #002fa3;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 140px;
    height: 30px;
    gap: 10px
}

.arrow-back .material-icons {
    vertical-align: middle;
    margin-right: 4px;
}

.color-detail {
    color: green;
    cursor: pointer;
}

.color-edit {
    color: blue;
    cursor: pointer;
}

.color-delete {
    color: red;
    cursor: pointer;
    margin-left: 90px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.pagination select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #94a7ff;
}

.pagination button {
    background-color: #002fa3;
    color: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}