table {
    width: 100%;
}

.description-col {
    max-width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon-with-border {
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 5px; 
}



.btn-create {
    background-color: #007bff;
    border: none;
    color: white;
}

.btn-pdf {
    background-color: #cc8c14;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 140px;
    height: 30px;
  }
  
  
  
