<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/list">Eventos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Lista</li>
    </ol>
</nav>
<h1>Lista de eventos</h1>
<div class="d-flex justify-content-between">
    <a class="btn btn-create btn-primary text-white" routerLink="/event/create">
        <fa-icon [icon]="faAdd" title="Adicionar novo evento"></fa-icon>
        Cadastrar evento
    </a>

    <a class="btn btn-secondary material-icons arrow-back" href="/">
        <span class="material-icons">arrow_back</span> Voltar
    </a>

    <a class="btn btn-pdf" (click)="gerarPdf()">
        <span class="material-icons color-print">print</span>
        Imprimir
    </a>
</div>

<div class="row">
    @for(event of events; track $index){
    <mat-card class="example-card shadow-lg col-4" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-imag" alt="Imagem do Evento"></div>
            <mat-card-title class="sub-text-card">{{event.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="\assets\img\img_faitec.png">
        <mat-card-content class="body-text-card">
            <p>
                {{event.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a [routerLink]="['/event/scheduling/list/', event.id]" mat-button
                class="btn btn-primary col-lg-6 text-center mt-2">Acessar
            </a>

            <a (click)="deleteEvent(event.id!)">
                <span class="material-icons color-delete" title="Deletar cronograma">delete_forever</span>
            </a>
        </mat-card-actions>
    </mat-card>
    }

</div>