.upload-image {
  cursor: pointer; 
}

.upload-image:hover {
  opacity: 0.8; 
  transition: opacity 0.3s; 
}

.image-upload-container {
  display: flex;
  align-items: center;
  gap: 15px; 
  margin-top: 10px;
  flex-wrap: wrap; 
}

#image-preview {
  max-width: 100px;
  max-height: 100px;
}

.text-recomend-img {
  font-size: 12px;
  color: #555;
  text-align: left;
  margin: 0;
  flex-basis: 200px; 
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 0 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  flex: 1;
  margin: 0 16px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

.search-box .search-icon {
  color: #333;
  font-size: 24px;
  margin-right: 8px;
}

.card-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  padding: 10px;
}

.card {
  width: 24%; 
  margin-bottom: 20px; 
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}

.card-header {
  background-color:rgb(28, 14, 63);
  color: white;
  text-align: center;
  padding: 10px;
  padding-bottom: 3px;
  width: 100%;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.btn-access {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 2px solid rgb(9, 9, 163);
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
  }
  &:before {
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(9, 9, 163);
    transition: all .3s;
    border-radius: 10rem;
  }
  &:hover {
    color: white;
    background-color: rgb(9, 9, 163);
    &:before {
      width: 100%;
    }
  }
  align-items: center;
  gap: 5px;
}

.user-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 200px;
}
.user-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.body-text-card {
  width: 100%;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.action-buttons a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

.color-people {
  color: #000;
  cursor: pointer;
}

.color-detail {
  color: green;
  cursor: pointer;
}

.color-edit {
  color: blue;
  cursor: pointer;
}

.color-delete {
  color: red;
  cursor: pointer;
}

.btn-back {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 2px solid #6f42c1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
  }
  &:before {
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #6f42c1;
    transition: all .3s;
    border-radius: 10rem;
  }
  &:hover {
    color: white;
    background-color: #6f42c1;
    &:before {
      width: 100%;
    }
  }
  display: inline-flex;
  align-items: center;
}

.btn-create {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 2px solid green;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
  }
  &:before {
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: green;
    transition: all .3s;
    border-radius: 10rem;
  }
  &:hover {
    color: white;
    background-color: green;
    &:before {
      width: 100%;
    }
  }
  align-items: center;
  gap: 5px;
}

.btn-pdf {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 2px solid blue;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
  }
  &:before {
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: blue;
    transition: all .3s;
    border-radius: 10rem;
  }
  &:hover {
    color: white;
    background-color: blue;
    &:before {
      width: 100%;
    }
  }
  display: inline-flex;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 10px;
}

.pagination select {
  border: 1px solid #ccc;
  border-radius: 150px;
  background-color: #94a7ff;
}

.pagination button {
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.modal-backdrop {
  z-index: 0 !important;
}

::ng-deep .modal-backdrop {
  z-index: 0 !important;
}

.custom-modal-class .modal-backdrop {
  z-index: 0 !important;
}

.action-buttons a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  padding: 5px; 
  margin: 0; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  cursor: pointer;
}

.info-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.info-icon {
  font-size: 20px;
  color: #6c757d;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.info-icon-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.title{
  margin: 25px 0;
}

@media (max-width: 994px) {
  .card-container {
    flex-direction: column; 
    align-items: center; 
  }

  .card {
    width: 100%; 
    margin: 10px 0; 
  }
}

