<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/list">Eventos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
    </ol>
</nav>
<h1>Detalhes do evento</h1>
<hr>

<form class="form-div">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <div class="form-group col-12 mt-2">
                <label for="name" class="text-name">Nome</label>
                <input type="text"  class="field-name" id="name" placeholder="Nome" readonly
                    value="{{eventInformation?.name}}">
            </div>
            <label for="code" class="text-name">Código</label>
            <input type="text" class="field-name" id="code" placeholder="Código" readonly
                value="{{eventInformation?.code}}">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="description" class="text-name">Descrição</label>
            <input type="text" class="field-name" id="description" placeholder="Descrição" readonly
                value="{{eventInformation?.description}}">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="business" class="text-name">Área de negocio</label>
            <input type="text"  class="field-name" id="business" placeholder="Business" readonly
                value="{{eventInformation?.business}}">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="date" class="text-name">Data</label>
            <input type="date"  class="field-name" id="date" placeholder="Descrição" readonly
                value="{{eventInformation?.date}}">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="start_time" class="text-name">Horario de Inicio</label>
            <input type="time"  class="field-name" id="start_time" readonly
                value="{{eventInformation?.start_time}}">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="end_time" class="text-name">Horario de Termino</label>
            <input type="time"  class="field-name" id="end_time"readonly
                value="{{eventInformation?.end_time}}">
        </div>
        <div class="col-12 text-end mt-2">
            <button class="btn col-2 me-4 btn-back" routerLink="/event/list">Voltar</button>
            <button class="btn col-2 btn-edit" routerLink="/event/edit/{{eventInformation?.id}}" *ngIf= "accessType == 'adm'" >Editar</button>
        </div>
    </div>
</form>