<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <img class="mb-4 img-error" src="assets/img/error-404.svg"/>
                <p class="lead">Ops... Parece que esta URL não existe...</p>
                <a href="/"><i class="fas fa-arrow-left mr-1"></i>Voltar</a>
            </div>
        </div>
    </div>
</div>