<div class="main-root">
    <mat-toolbar class="color-head">
        
        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <a class="navbar-item">
            <img src="assets/img/logo_task.png" width="220" height="220">
        </a>
        <span class="toolbar-item-spacer"></span>
        <button mat-icon-button matTooltip="Home" routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Meu perfil" [matMenuTriggerFor]="myProfile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #myProfile [overlapTrigger]="false" yPosition="below">
            <button mat-menu-item routerLink="/account/my-profile">
                <mat-icon>person</mat-icon><span>Minha conta</span>
            </button>
            <button mat-menu-item routerLink="/help">
                <mat-icon>settings</mat-icon><span>Ajuda</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>Sair
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="app-container">
        <mat-sidenav #sidenav mode="side" opened [class.mat-elevation-z4]="true" class="app-sidenav">
            <mat-nav-list>
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        Eventos
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/event/list">Lista de eventos </a>
                        <a mat-list-item routerLink="/event/create">Criar novo evento</a>
                        <a mat-list-item routerLink="/event/scheduling/list">Cronogramas</a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        Pessoas
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/user/list">Lista de pessoas cadastradas</a>
                        <a mat-list-item routerLink="/user/create">Criar novo cadatro</a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        Atividade
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/task/list">Lista de atividades</a>
                        <a mat-list-item routerLink="/task/create">Criar nova atividade</a>
                        <a mat-list-item routerLink="/task/list">Listar minhas atividades</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-nav-list>
        </mat-sidenav>
        <div class="page-wrap">
            <main class="container mt-2">

                <router-outlet></router-outlet>

                <div class="mb-4"></div>
            </main>
        </div>
    </mat-sidenav-container>
    <footer style="text-align: left">
        Todos os direitos reservados<fa-icon [icon]="faCopyright" style="font-size: 10px"></fa-icon>.
        2024 - 2026</footer>
</div>