<div class="main-root">
    <mat-toolbar class="toolbar">

        <button mat-icon-button class="menu-icon" (click)="toggleMenu()" *ngIf="smallScreen">
            <mat-icon>menu</mat-icon>
        </button>

        <a class="navbar-item">
            <img src="assets/img/logo_task.png" width="220" height="220">
        </a>

        <nav class="navbar navbar-expand-lg " [class.show]="menuOpen" [class.hide]="!menuOpen && smallScreen">
            <div class="navbar-collapse">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item">
                        <button mat-button [matMenuTriggerFor]="menuEventos" class="btn-list" *ngIf= "accessType == 'adm'">Eventos</button>
                        <mat-menu #menuEventos="matMenu" class="custom-menu">
                            <a mat-list-item routerLink="/event/list" *ngIf= "accessType == 'adm'">Lista de eventos </a>
                            <a mat-list-item routerLink="/event/create" *ngIf= "accessType == 'adm'">Cadastrar evento </a>
                        </mat-menu>
                    </li>
                    <li class="nav-item" *ngIf= "accessType == 'adm'" >
                        <button mat-button [matMenuTriggerFor]="menuPessoas" class="btn-list">Pessoas</button>
                        <mat-menu #menuPessoas="matMenu" class="custom-menu">
                            <a mat-list-item routerLink="/user/list">Lista de pessoas </a>
                            <a mat-list-item routerLink="/user/create" *ngIf= "accessType == 'adm'">Cadastrar pessoa</a>
                        </mat-menu>
                    </li>
                    <li class="nav-item" *ngIf= "accessType == 'adm'">
                        <button mat-button [matMenuTriggerFor]="menuAtividades"
                            class="dropdown-content btn-list">Atividades</button>
                        <mat-menu #menuAtividades="matMenu" class="custom-menu">
                            <a mat-list-item routerLink="/task/list">Lista de atividades</a>
                            <a mat-list-item routerLink="/task/create" *ngIf= "accessType == 'adm'">Cadastrar atividade</a>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </nav>


        <span class="toolbar-item-spacer"></span>
        <button mat-icon-button matTooltip="Home" routerLink="/" *ngIf= "accessType == 'adm'">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Meu perfil" [matMenuTriggerFor]="myProfile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #myProfile [overlapTrigger]="false" yPosition="below">
            <button mat-menu-item routerLink="/account/my-profile">
                <mat-icon>settings</mat-icon><span>Minha conta</span>
            </button>
            <button mat-menu-item routerLink="/help">
                <mat-icon>help</mat-icon><span>Ajuda</span>
            </button>
            <button mat-menu-item routerLink="/aboutUs">
                <mat-icon>groups 2</mat-icon><span>Sobre nós</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>Sair
            </button>
        </mat-menu>
    </mat-toolbar>

    <div class="content-container">
        <mat-nav-list>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
            </mat-expansion-panel>
        </mat-nav-list>
    </div>

    <div class="page-wrap">
        <main class="container mt-1">

            <router-outlet></router-outlet>

            <div class="mb-4"></div>
        </main>
    </div>

    <div class="wrapper">
        <!-- <button class="open-button" (click)="toggleForm()">
            <i class="fa fa-comment"></i>
        </button> -->

        <!-- <div class="chat-popup" id="myForm" #myForm [style.display]="showForm ? 'block' : 'none'">
            <span class="close-btn" (click)="closeForm()">&times;</span>
            <form action="/action_page.php" class="form-container">
                <h1>Chat</h1>
                <label for="msg"><b>Destinatário</b></label>
                <input type="text" id="recipient" placeholder="Nome do destinatário" required>

                <textarea placeholder="Digite sua mensagem ..." name="msg" required></textarea>

                <div class="form-actions">
                    <button type="submit" class="btn btn-send">Enviar</button>
                </div>
            </form>
        </div> -->
    </div>
    <footer class="footer">
        <p>&copy; 2024 Todos os direitos reservados aos criadores Michele Fernandes, Lavínia Brandani e Lucas Severini.
        </p>
    </footer>
</div>

