.toolbar-item-spacer {
    flex:auto;
}

.app-container {
    min-height: 80vh;
}

.app-sidenav {
    width: 15%;
}

.main-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    margin: 350px; 
    display: flex;
    justify-content: center; 
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    gap: 20px;
    margin: 0; 
    padding: 0; 
}

.nav-item {
    list-style: none; 
}


.mat-toolbar .btn-list{
    color: #7d7d7d;
    display: inline-block;
    transition: .10s;
    font-size: 16px;
}

.mat-toolbar .btn-list:hover{
    color: #fff;
    transform: scale(1.08);
}

.wrapper {
    flex: 1; 
    display: flex;
    flex-direction: column;
}


.footer {
    display: block;
    background: linear-gradient(90deg, rgb(64, 15, 83) 67%, rgb(28, 10, 34) 95%);
    color: white;
    width: 100%;
    height: 40px; 
    text-align: center;
    line-height: 40px; 
}