html,
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.952) 19%, rgb(64, 15, 83) 67%, rgb(28, 10, 34) 95%);

}

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    min-height: 80vh;
}

.app-sidenav {
    width: 15%;
}

.main-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.color-head {
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.952) 19%, rgb(64, 15, 83) 67%, rgb(28, 10, 34) 95%);
    color: white;
    padding: 0 10px;
}


.toolbar {
    width: 100%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.952) 19%, rgb(64, 15, 83) 67%, rgb(28, 10, 34) 95%);
    justify-content: center;
    align-items: center;


}

.navbar-nav {
    display: flex;
    gap: 20px;
}

.mat-toolbar .btn-list {
    color: white;
    width: 100%;
    background: linear-gradient(90deg, rgb(64, 15, 83) 67%, rgb(28, 10, 34) 95%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;

}

footer {
    margin-top: auto;
    background-color: #1D1D1B;
    color: white;
    text-align: center;
}

footer a {
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.952) 19%, rgb(64, 15, 83) 67%, rgb(28, 10, 34) 95%);
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}