<div class="main-root">
    <mat-toolbar class="color-head">
        <a class="navbar-item">
            <img src="assets/img/logo_task.png" width="220" height="220">
        </a>
        <span class="toolbar-item-spacer"></span>
        <button mat-icon-button matTooltip="Chat" routerLink="/">
            <mat-icon>chat</mat-icon>
        </button>
        
        <button mat-icon-button matTooltip="Home" routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Meu perfil" [matMenuTriggerFor]="myProfile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #myProfile [overlapTrigger]="false" yPosition="below">
            <button mat-menu-item routerLink="/account/my-profile">
                <mat-icon>settings</mat-icon><span>Minha conta</span>
            </button>
            <button mat-menu-item routerLink="/help">
                <mat-icon>help</mat-icon><span>Ajuda</span>
            </button>
            <button mat-menu-item routerLink="/aboutUs">
                <mat-icon>groups 2</mat-icon><span>Sobre nós</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>Sair
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-toolbar class="toolbar">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <button mat-button [matMenuTriggerFor]="menuEventos" class="btn-list">Eventos</button>
                        <mat-menu #menuEventos="matMenu">
                            <a mat-list-item routerLink="/event/list">Lista de eventos </a>
                            <a mat-list-item routerLink="/event/create">Cadastrar evento </a>
                        </mat-menu>
                    </li>
                    <li>
                        <button mat-button [matMenuTriggerFor]="menuPessoas" class="btn-list">Pessoas</button>
                        <mat-menu #menuPessoas="matMenu">
                            <a mat-list-item routerLink="/user/list">Lista de pessoas </a>
                            <a mat-list-item routerLink="/user/create">Cadastrar pessoa</a>
                        </mat-menu>
                    </li>
                    <li>
                        <button mat-button [matMenuTriggerFor]="menuAtividades" class="btn-list">Atividades</button>
                        <mat-menu #menuAtividades="matMenu">
                            <a mat-list-item routerLink="/task/list">Lista de atividades</a>
                            <a mat-list-item routerLink="/task/create">Cadastrar atividade</a>
                            <a mat-list-item routerLink="/task/my-task-list/{{userId}}">Listar minhas atividades</a>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </nav>
    </mat-toolbar>

    <div class="content-container">
        <mat-nav-list>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
            </mat-expansion-panel>
        </mat-nav-list>
    </div>

    <div class="page-wrap">
        <main class="container mt-1">

            <router-outlet></router-outlet>

            <div class="mb-4"></div>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Todos os direitos reservados aos criadores Lavínia Brandani, Lucas Severini e Michele Fernandes.
        </p>
    </footer>
</div>