html,
body {
    height: 100%;
    margin: 0;
}

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    min-height: 80vh;
}

.app-sidenav {
    width: 230px;
}

.main-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: #3f51b5;
    color: white;
}