<div class="base-form">
    <div class="container-div">
        <div class="form-container">
            <div class="welcome">
                <h1>Bem-vindo</h1>
                <img src="/assets/img/logo-inicio1.png" alt="Task Sync logo" class="logo-image">
            </div>
            <div class="user-type-selection-container">
                <h2>Escolha seu tipo de acesso</h2>
                <button (click)="selectUserType('Administrador')" class="btn btn-admin">Acessar como
                    Administrador</button>
                <button (click)="selectUserType('Colaborador')" class="btn btn-colab">Acessar como Colaborador</button>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Todos os direitos reservados aos criadores Lavínia Brandani, Lucas Severini e Michele Fernandes.
            <span>
                <a href="https://1drv.ms/w/c/2c7124fc96a093bf/EazgUORd5g1Gka2LgOiKHvYBSUc7Qd_SNimM0lTT2Z-lLA?e=ISvqaA">Termos
                    de Uso</a>
            </span>
        </p>
    </footer>
</div>