<div class="base-form">
    <div class="container-div">
        <div class="content-wrapper">
            <div class="welcome">
                <h1>Bem-vindo</h1>
                <img src="/assets/img/logo-inicio.png" alt="Task Sync logo" class="logo-image">
            </div>
            <div class="user-type-selection-container">
                <h2>Escolha seu tipo de acesso</h2>
                <button (click)="selectUserType('Administrador')" class="btn btn-admin">
                  Acessar como Administrador
                </button>
                <button (click)="selectUserType('Colaborador')" class="btn btn-colab">
                  Acessar como Colaborador
                </button>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <p>&copy; 2024 Todos os direitos reservados aos criadores Lavínia Brandani, Lucas Severini e Michele Fernandes.
        <span>
            <a href="termos-de-uso.html">Termos de Uso</a> |
            <a href="politica-de-privacidade.html">Política de Privacidade</a>
        </span>
    </p>
</footer>
