<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/task/list">Atividades</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
    </ol>
</nav>
<h1>Detalhe da Atividade</h1>
<hr>
<form class="form-div">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="name" class="text-name">Nome</label>
            <input type="text" class="field-name" id="name" placeholder="Nome" readonly
                value="{{taskInformation?.name}}">
        </div>
        <div class="form-group d-flex justify-content-around mt-2 btns">
            <button class="btn btn-back" routerLink="/task/list">Voltar</button>
            <button class="btn btn-create" routerLink="/task/edit/{{taskInformation?.id}}">Editar</button>
        </div>
    </div>
</form>