<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/task/list">Atividades</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
    </ol>
</nav>
<h1>Detalhe da Atividade</h1>
<hr>

<form class="form-div">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="name" class="text-name">Nome</label>
            <input type="text" class="field-name" id="name" placeholder="Nome" readonly
                value="{{taskInformation?.name}}">
        </div>
        <div class="col-12 text-end mt-2">
            <button class="btn btn-secondary col-2 me-4 btn-back" routerLink="/task/list">Voltar</button>
            <button class="btn btn-primary col-2 btn-edit" routerLink="/task/edit/{{taskInformation?.id}}" *ngIf= "accessType == 'adm'">Editar</button>
        </div>
    </div>
</form>