<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/user/list">Pessoas</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar pessoa</li>
    </ol>
</nav>
<h1>Cadastrar pessoa</h1>
<hr>
<form class="form-div" [formGroup]="form" (ngSubmit)="create()">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="name" class="text-name">Nome</label>
            <input type="text" class="field-name" id="name" placeholder="Nome" formControlName="name">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="email" class="text-name">Email</label>
            <input type="email" class="field-name" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="password" class="text-name">Senha</label>
            <div class="input-group">
                <input type="password" class="field-name" id="password" placeholder="Senha" formControlName="password">
                <div class="input-group-append">
                    <span id="togglePassword" (click)="togglePasswordVisibility()">
                        <i class="fas input-group-text" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group col-12 mt-2">
            <label for="cpf" class="text-name">CPF</label>
            <input type="text" class="field-name" id="cpf" placeholder="CPF" formControlName="cpf">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="phone" class="text-name">Telefone</label>
            <input type="text" class="field-name" id="phone" placeholder="Telefone" formControlName="phone">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="address" class="text-name">Endereco</label>
            <input type="text" class="field-name" id="address" placeholder="Endereco" formControlName="address">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="access_type" class="text-name">Tipo de acesso</label>
            <input id="adm" type="radio" name="user-type" formControlName="access_type" value="Administrador" class="type-user">
            <label for="adm" class="type-user">Administrador</label>
            <input id="colab" type="radio" name="user-type" formControlName="access_type" value="Colaborador" class="type-user">
            <label for="colab" class="type-user">Colaborador</label>
        </div>
        <div class="form-group d-flex mt-2 btns">
            <a class="btn btn-back col-2 me-2" href="/user/list">Voltar</a>
            <button class="btn btn-create col-2 me-2">Criar</button>
            <button class="clean-form col-6" type="reset" value="Limpar">Limpar</button>
        </div>
    </div>
</form>