<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="site-informativo.component.css">
    <title>Task Sync</title>
</head>

<body>
    <header>
        <div class="interface">
            <div class="logo">
                <a href="#inicio">
                    <img src="assets/img/logo_task_site.png" alt="Task Sync" class="logo">
                </a>
            </div>

            <nav class="menu-desktop">
                <ul>
                    <li><a href="views/site-informativo#inicio">Início</a></li>
                    <li><a href="views/site-informativo#funcionalidades">Funcionalidades</a></li>
                    <li><a href="views/site-informativo#sobre">Sobre</a></li>
                    <li><a href="views/site-informativo#contato">Contato</a></li>
                </ul>
            </nav>

            <div class="btn-contato">
                <a href="account/user-type-selection">
                    <button>Login</button>
                </a>
            </div>
            <div class="menu-mobile">
                <div #menuButton class="btn-menu">
                  <i class="bi bi-list"></i>
                </div>
              
                <div #closeButton class="btn-close">
                  <i class="bi bi-x"></i>
                </div>
              
                <nav #mobileMenu>
                  <ul>
                    <li><a href="#inicio">Início</a></li>
                    <li><a href="#funcionalidades">Funcionalidades</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="account/user-type-selection"><button>Login</button></a></li>
                  </ul>
                </nav>
              </div>
              

        </div>
    </header>


    <main>
        <section class="topo-do-site" id="inicio">
            <div class="interface">
                <div class="flex">
                    <div class="txt-topo-site">
                        <h1>GERENCIE SEUS EVENTOS COM AGILIDADE<span>.</span></h1>
                        <p>Simplifique a organização de atividades, tarefas e cronogramas com o Task Sync.
                            Nosso sistema facilita a distribuição de responsabilidades, garantindo eficiência e
                            transparência em cada etapa do processo.</p>

                        <mat-accordion class="documentacao">
                            <mat-expansion-panel (opened)="onExpandChange({ expanded: true })" (closed)="onExpandChange({ expanded: false })">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Documentações
                                        <span [class]="isExpanded ? 'arrow-down' : 'arrow-up'" class="arrow"></span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="btn-options">
                                    <button mat-button
                                        (click)="navigateTo('https://1drv.ms/w/c/2c7124fc96a093bf/Ecpxpwy6kMJEvMQw3jG-0jYBdLbhSnwdeZUlxFoskfc8pQ?e=GHIKTH')">Declaração
                                        de Escopo</button>
                                    <button mat-button
                                        (click)="navigateTo('https://1drv.ms/w/c/2c7124fc96a093bf/EQU2Lirx2DNCiXwPtrq3R0EBoj-d_rBF2_RySwhYUlEX4Q?e=aUbj6l')">Requisitos
                                        Funcionais</button>
                                    <button mat-button
                                        (click)="navigateTo('https://1drv.ms/w/c/2c7124fc96a093bf/EYB_7iMxKN5InJ4NTem5hSYBMtiiEueNpSIABNgmaNW6XA?e=JUvlJd')">Requisitos
                                        Não Funcionais</button>
                                    <button mat-button
                                        (click)="navigateTo('https://1drv.ms/b/c/2c7124fc96a093bf/Eahm7t1M-2tGklPTGzneCD0B0D3X0NJ7HLWShc1bRPkMHQ?e=fhaGXl')">Quardo
                                        de User Stories</button>
                                    <button mat-button
                                        (click)="navigateTo('https://1drv.ms/b/c/2c7124fc96a093bf/Eahm7t1M-2tGklPTGzneCD0B0D3X0NJ7HLWShc1bRPkMHQ?e=fhaGXl')">Descrição
                                        de comportamento</button>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion class="diagrama">
                            <mat-expansion-panel (opened)="onExpandChange({ expanded: true })" (closed)="onExpandChange({ expanded: false })">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Diagramas
                                        <span [class]="isExpanded ? 'arrow-down' : 'arrow-up'" class="arrow"></span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="btn-options">
                                    <button mat-button (click)="openModal('/assets/img/diagDeComponentes.png')">Diagrama
                                        de Componentes</button>
                                    <button mat-button
                                        (click)="openModal('/assets/img/diagrDeImplantacao.png')">Diagrama de
                                        Implantação</button>
                                    <button mat-button
                                        (click)="openModal('/assets/img/taskSync_modelagemDeDadosRelacional_vrs_3.0.jpeg')">Modelagem
                                        de Dados Relacional</button>
                                    <button mat-button
                                        (click)="openModal('/assets/img/taskSync_SucessoAoCriarEvento.png')">Diagrama de
                                        Sequência</button>
                                    <button mat-button
                                        (click)="openModal('/assets/img/visaodepacotes_criarevento.png')">Diagrama de
                                        Pacotes</button>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <div *ngIf="isModalOpen" class="modal" (click)="closeModal()">
                            <div class="modal-content" (click)="$event.stopPropagation()">
                                <span class="close" (click)="closeModal()">&times;</span>
                                <img [src]="selectedImage" alt="Imagem" class="modal-image" />
                            </div>
                        </div>

                    </div>

                    <div class="img-topo-site">
                        <img src="assets/img/tela_login.png" alt="Tela de Login">
                    </div>
                </div>
            </div>
        </section>

        <section class="funcionalidades" id="funcionalidades">
            <div class="interface">
                <h2 class="titulo">FUNCIONALIDADES DO<span> TASK SYNC.</span></h2>
                <div class="flex">
                    <div class="funcionalidades-box">
                        <span class="material-symbols-outlined">bar_chart_4_bars</span>
                        <h3>Dashboard</h3>
                        <p>Acompanhe o progresso do seu evento em tempo real com gráficos interativos que facilitam a
                            análise de dados e o desempenho das atividades</p>
                    </div>
                    <div class="funcionalidades-box">
                        <span class="material-symbols-outlined">calendar_month</span>
                        <h3>Cronograma</h3>
                        <p>Planeje e gerencie suas tarefas e equipes de forma eficiente com um cronograma que garante a
                            organização de todas as etapas do evento.</p>
                    </div>
                    <div class="funcionalidades-box">
                        <span class="material-symbols-outlined">diversity_3</span>
                        <h3>Equipe</h3>
                        <p>Facilite a coordenação e comunicação entre os membros da sua equipe, garantindo uma
                            organização otimizada para alcançar os melhores resultados.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="sobre" id="sobre">
            <div class="interface">
                <div class="titulo">
                    <h2 class="titulo-sobre">SOBRE O <span>TASK SYNC.</span></h2>
                </div>
                <div class="flex">

                    <div class="txt-sobre">
                        <p>O Task Sync é uma solução no setor de gerenciamento de eventos e atividades,
                            desenvolvida para atender às demandas do mercado com eficiência e organização. Criado com
                            foco em promover
                            a colaboração entre equipes e otimizar processos internos.</p>

                        <div class="objetivo-missao">
                            <div class="objetivo">
                                <h3>OBJETIVO</h3>
                                <p>Facilitar a gestão de eventos e atividades, oferecendo uma plataforma intuitiva que
                                    melhora a organização
                                    e a responsabilidade dentro das equipes.</p>
                            </div>

                            <div class="missao">
                                <h3>MISSÃO</h3>
                                <p>Oferecer uma solução prática para o gerenciamento de eventos, por meio de uma
                                    plataforma
                                    que atenda às necessidades dos clientes.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <section class="contato" id="contato">
            <div class="interface">
                <div class="titulo">
                    <h2 class="titulo-sobre">ENTRE EM CONTATO<span> CONOSCO.</span></h2>
                </div>
                <p>Se você tiver alguma dúvida ou precisar de mais informações, sinta-se à vontade para nos contatar
                    pelo e-mail abaixo:</p>
                <p class="email"><i class="bi bi-envelope-fill"></i> <a href="mailto:contato.tasksync@gmail.com">
                        contato.tasksync&#64;gmail.com</a></p>
            </div>
        </section>

    </main>
    <footer>
        <div class="interface">
            <div class="line-footer">
                <div class="logo-footer">
                    <img src="assets/img/FAI-LOGO-2019.png" alt="FAITEC 2024" class="footer-logo">
                    <a href="https://github.com/LaviniaRodriguesBT/task_sync" target="_blank">
                        <button class="git-img">
                            <i class="bi bi-github" style="font-size: 2rem;"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>