.imagem-container {
    width: 100%;
    height: auto;
    text-align: center;
}

.imagem-container img {
    max-width: 100%;
    height: auto;
}

.example-card {
    max-width: 300px;
    margin-left:20px;
	margin-top: 20px;
    
}

.sub-text-card {
    text-align: center;
    margin-left:20px;
	margin-top: 10px;
    
}

.body-text-card {
    margin-top: 10px;
    flex: 1 1 auto;
    
}