.base-form {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    background: url('/assets/img/fundo.png');
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
    margin-left: 25%;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-div {
    background-color: rgb(255, 255, 255);
    padding: 150px;
    border-radius: 35px;
    box-shadow: 0 0 30px 0 rgb(76, 104, 204);
}

.form-container {
    margin-bottom: 10px;
    position: relative;
    transition: .25s;
    width: 600px;
    height: 200px;
    border: none;
    border-radius: 40px;
    padding: 8px 0 8px 35px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.slogan{
    position: relative;
    animation: flutuar 6s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: -50px;
    }
    100%{
        top: 30px;
    }
}

.enter-field {
    background-color: white;
    width: 350px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    color: rgb(0, 0, 0);
}

.contact-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 0%;
    margin-left: 55%;
}

.text-name {
    font-size: 16px;
    color: #555;
    text-align: left;
    font-size: 16px;
    padding: 5%;
    font-weight: bold;
}

.type-user {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    padding: 2%;
    text-align: left;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group-append {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding: 0 10px;
    cursor: pointer;
}

.input-group-text {
    font-size: 18px;
    color: #495057;
}

.image-logo {
    width: 100px;
    height: auto;
    margin-left: 40%;
    animation: fadeIn 1.5s ease-in-out;
}

.btn-sign-in {
    margin-top: 10%;
    position: relative;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    margin-left: 5%;
    background-color: #5301c9;
    color: rgb(255, 255, 255);
    font-size: large;
    pointer-events: none;
    cursor: pointer;
}

.btn-sign-in:enabled {
    opacity: 1;
    pointer-events: auto;
}

.btn-sign-in:enabled:hover {
    transform: scale(1.05);
}

.btn-back {
    display: inline-block;
    text-align: center;
    margin-top: 10%;
    position: relative;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    margin-left: 30%;
    background-color: #122c69;
    color: rgb(255, 255, 255);
    font-size: large;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
}


footer {
    position: absolute;
    bottom: 0;
    background: #122c69;
    color: white;
    width: 100%;
    height: 5%;
    text-align: center;
    line-height: 50px;
}

footer a {
    color: #f0f0f0;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}