.base-form {
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form {
    width: 30rem;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

mat-form-field {
    display: block;
}

.trilho{
    width: 200px;
    height: 50px;
    background-color: #9b9696;
    border-radius: 50px;
    position: relative;

}

.trilho .indicador {
    width: 70px;
    height: 50px;
    background-color: black;
    border-radius: 50%;

}