<div class="base-form">
    <form class="form mat-elevation-z4">
        <h2>App</h2>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" required="" [formControl]="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="Senha" maxlength="10" required [formControl]="password">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()" [disabled]="isFormInvalid()">Login</button>

        @if (isLoginIncorrect){
            <p class="text-danger mt-2"> Email e/ou senha incorretos</p>
        }

        <hr>
        <div class="mt-4">
            <p>Não possui uma conta? <a href="account/sign-up">Clique aqui</a> para criar agora mesmo!</p>
        </div>
    </form>
</div>
