.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 4px;
    padding: 0 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    flex: 1;
    margin: 0 16px;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

.search-box .search-icon {
    color: #333;
    font-size: 24px;
    margin-right: 8px;
}


.btn-create {
    background-color: #002fa3;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
}


.thead-style {
    background-color: #002fa3;
    color: white;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}


.description-col {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.btn-pdf {
    background-color: #002fa3;
    color: white;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 140px;
    height: 30px;
    gap: 10px;
    border-radius: 4px;
}

.btn-secondary{
    margin-right: 70%;
}


.arrow-back .material-icons {
    vertical-align: middle;
    margin-right: 4px;
}


.color-detail {
    color: green;
    cursor: pointer;
}

.color-edit {
    color: blue;
    cursor: pointer;
}

.color-delete {
    color: red;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}

.pagination select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #94a7ff;
}

.pagination button {
    background-color: #002fa3;
    color: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}