<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/list">Cronograma</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{
            eventName }}</li>
    </ol>
</nav>

<div class="title d-flex align-items-center justify-content-between">
    <h1 class="lista">Lista de Cronogramas</h1>
    <div class="info-icon-container">
        <span class="material-icons info-icon" (click)="openInfoModal()">help_outline</span>
    </div>
</div>

<ng-template #infoModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Informações do Sistema</h2>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Aqui você encontra cronogramas do seu evento cadastrado no sistema. Como administrador, você pode:</p>
        <ul>
            <li>Associar novas pessoas e atividades para seu evento.</li>
            <li>Cadastrar, editar, visualizar ou excluir associações</li>
            <li>Visualizar a quantidade de pessoas cadastradas</li>
            <li>Visualizar o status da tarefa (Em aberto, em andamento e finalizado)</li>
            <li>Gerar relatórios em Excel ou imprimir</li>
        </ul>
        <p>
            Para mais informações sobre funcionalidades, acesse a
            <a href="/help" target="_blank">ajuda do sistema</a>
            ou entre em contato com o
            <a href="mailto:contato.tasksync@gmail.com" target="_blank">suporte</a>.
        </p>
    </div>
</ng-template>

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <a class="btn btn-back arrow-back" href="/event/list">
        <span class="material-icons">arrow_back</span>
    </a>
    <a class="btn btn-create" routerLink="/event/{{eventId}}/scheduling/create" *ngIf="accessType == 'Administrador'">
        <fa-icon [icon]="faAdd" title="Adicionar novo cronograma"></fa-icon>
        Cadastrar cronograma
    </a>
    <div class="search-box col-2" >
        <mat-icon class="search-icon">search</mat-icon>
        <input id="search" placeholder="Pesquisa" (keyup)="search()">
    </div>
    <tr class="total-row col-3 text-center" class="btn btn-value">
        <td colspan="2">Total do Evento</td>
        <td class="text-center">{{ calculateTotalValue() | currency:'BRL':'symbol':'1.2-2' }}</td>
        <td colspan="6"></td> 
    </tr>
    <a class="btn btn-pdf" (click)="gerarPdf()">
        <span class="material-icons color-print">print</span>
    </a>
    <a class="btn btn-pdf" (click)="exportExcelEventList()">
        <span class="material-icons color-print">upload_file</span>
    </a>
</div>

<hr>

<div class="mat-elevation-z8 table-responsive">
    <table class="table">
        <thead class="thead-style">
            <tr>
                <th scope="col" class="thead-style description-col">Colaborador</th>
                <th scope="col" class="thead-style description-col">Atividade</th>
                <th scope="col" class="thead-style">Valor</th>
                <th scope="col" class="thead-style">Horario Inicio</th>
                <th scope="col" class="thead-style">Horario Fim</th>
                <th scope="col" class="thead-style">Data</th>
                <th scope="col" class="thead-style">Status</th>
                <th scope="col" class="thead-style" *ngIf="accessType == 'Administrador'">Detalhes</th>
                <th scope="col" class="thead-style" *ngIf="accessType == 'Administrador'">Editar</th>
                <th scope="col" class="thead-style" *ngIf="accessType == 'Administrador'">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @for(scheduling of schedulings; track $index){
            <tr>
                <td class="text-center">{{scheduling.user.name}}</td>
                <td class="text-center">{{scheduling.task.name}}</td>
                <td class="text-center">{{ scheduling.value | currency:'BRL':'symbol':'1.2-2' }}</td>
                <td class="text-center">{{ scheduling.date + ' ' + scheduling.start_time | date:'shortTime' }}</td>
                <td class="text-center">{{ scheduling.date + ' ' + scheduling.end_time | date:'shortTime' }}</td>
                <td class="text-center">{{scheduling.date | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <form class="form-div" method="post" [formGroup]="form">
                        <select class="new-status" formControlName="status{{scheduling.id}}"
                            (change)="update(scheduling)" [(ngModel)]="scheduling.status">
                            <option value="Em aberto">Em aberto</option>
                            <option value="Em andamento">Em andamento</option>
                            <option value="Finalizada">Finalizada</option>
                        </select>
                    </form>
                </td>
                <td *ngIf="accessType == 'Administrador'">
                    <div class="row column">
                        <div class="col-4">
                            <a routerLink="/event/{{eventId}}/scheduling/detail/{{scheduling.id}}">
                                <span class="material-icons color-detail" title="Detalhes cronograma">info</span>
                            </a>
                        </div>
                    </div>
                </td>
                <td *ngIf="accessType == 'Administrador'">
                    <div class="row column">
                        <div class="col-4">
                            <a routerLink="/event/{{eventId}}/scheduling/edit/{{scheduling.id}}">
                                <span class="material-icons color-edit" title="Editar cronograma">edit</span>
                            </a>
                        </div>
                    </div>
                </td>
                <a class="btn btn-error me-2" (click)="openMyModal(infoModal)" *ngIf="accessType == 'Administrador'">
                    <span class="material-icons color-delete" title="Exluir cronograma">delete_forever</span>
                </a>
                <ng-template #infoModal let-modal>
                    <div class="modal-header">
                        <h2 class="modal-title" id="modal-basic-title">Confirmação de exclusão do cronograma</h2>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Confirmar a exclusão do cronograma?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" (click)="deleteScheduling(scheduling.id!)"
                            *ngIf="accessType == 'Administrador'" (click)="closeMyModal()">EXCLUIR
                        </button>
                    </div>
                </ng-template>
            </tr>
            }
            
           
            
        </tbody>
    </table>
</div>

<div class="monitoring">
    <div id="meuGrafico"></div>
    <div id="meuGrafico2" class="teste8"></div>
    <div class="dashboard">
        <h2 class="title-dash">Cronogramas - Card</h2>
        <div class="status-cards">
            <div class="card" #statusCard>
                <h3>Total de Pessoas</h3>
                <p>{{ totalPessoas }}</p>
            </div>
            <div class="card" #statusCard>
                <h3>Em Andamento</h3>
                <p>{{ emAndamento }}</p>
            </div>
            <div class="card" #statusCard>
                <h3>Finalizado</h3>
                <p>{{ concluido }}</p>
            </div>
            <div class="card" #statusCard>
                <h3>Em Aberto</h3>
                <p>{{ emAberto }}</p>
            </div>
        </div>
    </div>

</div>

<div class="pagination">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="handlePageEvent($event)">
    </mat-paginator>
</div>