.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#modal {
  width: 400px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 0 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  flex: 1;
  margin: 0 16px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

.search-box .search-icon {
  color: #333;
  font-size: 24px;
  margin-right: 8px;
}

.btn-access {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;

  background-color: white;
  border: 2px solid rgb(9, 9, 163);

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;

  }

  &:before {
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(9, 9, 163);
    transition: all .3s;
    border-radius: 10rem;

  }

  &:hover {
    color: white;
    background-color: rgb(9, 9, 163);

    &:before {
      width: 100%;
    }
  }

  align-items: center;
  gap: 5px;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.action-buttons a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

.color-detail {
  color: green;
  cursor: pointer;
}

.color-edit {
  color: blue;
  cursor: pointer;
}

.color-delete {
  color: red;
  cursor: pointer;
}

.btn-back {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;

  background-color: white;
  border: 2px solid #6f42c1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;

  }

  &:before {
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #6f42c1;
    transition: all .3s;
    border-radius: 10rem;
   ;
  }

  &:hover {
    color: white;
    background-color: #6f42c1;

    &:before {
      width: 100%;
    }
  }

  display: inline-flex;
  align-items: center;
}

.btn-create {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  
  background-color: white;
  border: 2px solid green;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
  
  }

  &:before {
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: green;
    transition: all .3s;
    border-radius: 10rem;

  }

  &:hover {
    color: white;
    background-color: green;

    &:before {
      width: 100%;
    }
  }

  align-items: center;
  gap: 5px;
}

.btn-pdf {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;

  background-color: white;
  border: 2px solid blue;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;

  }

  &:before {
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: blue;
    transition: all .3s;
    border-radius: 10rem;
   
  }

  &:hover {
    color: white;
    background-color: blue;

    &:before {
      width: 100%;
    }
  }

  display: inline-flex;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 10px;
}

.pagination select {
  border: 1px solid #ccc;
  border-radius: 150px;
  background-color: #94a7ff;
}

.pagination button {
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  min-width: 800px;
}

.thead-style {
  background-color: #002fa3;
  color: white;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

.description-col {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-status {
  border: none;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.new-status.no-border {
  outline: none;
  box-shadow: none;
}

.dashboard {
  padding: 20px;
}

.status-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.card {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  flex-basis: 23%;
  box-sizing: border-box;
  min-width: 200px;
  background-color: white;
  color: white;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}


.modal-backdrop {
  z-index: 0 !important;
}


::ng-deep .modal-backdrop {
  z-index: 0 !important;
}

.custom-modal-class .modal-backdrop {
  z-index: 0 !important;
}

.action-buttons a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  padding: 5px; 
  margin: 0; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  cursor: pointer;
}