<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/list">Cronograma</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Evento</li>
    </ol>
</nav>
<h1 class="lista">Lista de Cronogramas</h1>

<div class="d-flex justify-content-between align-items-center">
    <a class="btn btn-back arrow-back" href="/event/list">
        <span class="material-icons">arrow_back</span>
    </a>

    <a class="btn btn-create" routerLink="/event/{{eventId}}/scheduling/create" *ngIf="accessType == 'Administrador'">
        <fa-icon [icon]="faAdd" title="Adicionar novo cronograma"></fa-icon>
        Cadastrar cronograma
    </a>

    <div class="search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" id="search" placeholder="Pesquisa" (keyup)="search()">
    </div>

    <a class="btn btn-pdf" (click)="gerarPdf()">
        <span class="material-icons color-print">print</span>
    </a>
    <a class="btn btn-pdf" (click)="exportExcelEventList()">
        <span class="material-icons color-print">upload_file</span>
    </a>
</div>

<hr>

<div class="mat-elevation-z8">
    <table class="table table ">
        <thead class="thead-style">
            <tr>
                <th scope="col" class="thead-style">Evento</th>
                <th scope="col" class="thead-style description-col">Colaborador</th>
                <th scope="col" class="thead-style description-col">Atividade</th>
                <th scope="col" class="thead-style">Valor</th>
                <th scope="col" class="thead-style">Horario Inicio</th>
                <th scope="col" class="thead-style">Horario Fim</th>
                <th scope="col" class="thead-style">Data</th>
                <th scope="col" class="thead-style">Status</th>
                <th scope="col" class="thead-style" *ngIf="accessType == 'Administrador'">Detalhes</th>
                <th scope="col" class="thead-style" *ngIf="accessType == 'Administrador'">Editar</th>
                <th scope="col" class="thead-style" *ngIf="accessType == 'Administrador'">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @for(scheduling of schedulings; track $index){
            <tr>
                <td class="text-center">{{scheduling.event.name}}</td>
                <td class="text-center">{{scheduling.user.name}}</td>
                <td class="text-center">{{scheduling.task.name}}</td>
                <td class="text-center">{{ scheduling.value | currency:'BRL':'symbol':'1.2-2' }}</td>
                <td class="text-center">{{scheduling.start_time}}</td>
                <td class="text-center">{{scheduling.end_time}}</td>
                <td class="text-center">{{ scheduling.date | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <form class="form-div" method="post" [formGroup]="form">
                        <select  class="new-status" formControlName="status" (change)="update(scheduling)" [(ngModel)]="scheduling.status">
                            <option value="Em aberto">Em aberto</option>
                            <option value="Em andamento">Em andamento</option>
                            <option value="Finalizada">Finalizada</option>
                        </select>
                    </form>
                </td>

                <td *ngIf="accessType == 'Administrador'">
                    <div class="row column">
                        <div class="col-4">
                            <a routerLink="/event/{{eventId}}/scheduling/detail/{{scheduling.id}}">
                                <span class="material-icons color-detail" title="Informacoes">info</span>
                            </a>
                        </div>
                    </div>
                </td>
                <td *ngIf="accessType == 'Administrador'">
                    <div class="row column">
                        <div class="col-4">
                            <a routerLink="/event/{{eventId}}/scheduling/edit/{{scheduling.id}}">
                                <span class="material-icons color-edit" title="Editar cronograma">edit</span>
                            </a>
                        </div>
                    </div>
                </td>
                <td *ngIf="accessType == 'Administrador'">
                    <div class="row column">

                        <div class="col-4">
                            <a (click)="deleteScheduling(scheduling.id!)">
                                <span class="material-icons color-delete"
                                    title="Deletar cronograma">delete_forever</span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="pagination">

    <select class="btn-back">
        <option value="5">5 por página</option>
        <option value="10">10 por página</option>
        <option value="15">15 por página</option>
        <option value="50">50 por página</option>
    </select>
    <button class="btn-back" onclick="previousPage()">Anterior</button>
    <button class="btn-back" onclick="nextPage()">Próximo</button>
</div>