<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/scheduling/card">Cronograma</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Evento</li>
    </ol>
</nav>
<h1>Lista de Cronogramas</h1>
<div class="d-flex justify-content-between">
    <a class="btn btn-create btn-primary text-white" routerLink="/event/scheduling/create">
        <fa-icon [icon]="faAdd" title="Adicionar novo cronograma"></fa-icon>
        Criar novo cronograma
    </a>
    <a class="btn btn-secondary" href="/event/scheduling/card">Voltar</a>
</div>


<hr>

<div class="mat-elevation-z8">
    <table class="table table ">
        <thead>
            <tr>

                <th scope="col" class="text-center">Codigo</th>
                <th scope="col" class="text-center">Evento</th>
                <th scope="col" class="text-center description-col">Colaborador</th>
                <th scope="col" class="text-center description-col">Atividade</th>
                <th scope="col" class="text-center">Valor</th>
                <th scope="col" class="text-center">Horario Inicio</th>
                <th scope="col" class="text-center">Horario Fim</th>
                <th scope="col" class="text-center">Data</th>
                <th scope="col" class="text-center">Status</th>


            </tr>
        </thead>
        <tbody>
            @for(scheduling of schedulings; track $index){
            <tr>
                <th scope="row" class="text-center">{{scheduling.id}}</th>
                <td class="text-center">{{scheduling.event_id}}</td>
                <td class="text-center">{{scheduling.user_id}}</td>
                <td class="text-center">{{scheduling.task_id}}</td>
                <td class="text-center">{{scheduling.value}}</td>
                <td class="text-center">{{scheduling.start_time}}</td>
                <td class="text-center">{{scheduling.end_time}}</td>
                <td class="text-center">{{scheduling.date}}</td>
                <td class="text-center">{{scheduling.status}}</td>
                <td>
                    <div class="row">
                        <div class="col-4">
                            <a class="btn btn-primary" routerLink="/event/scheduling/detail/{{scheduling.id}}">
                                <fa-icon [icon]="fa.faAddressCard" title="Ver detalhes"></fa-icon>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-warning" routerLink="/event/scheduling/edit/{{scheduling.id}}">
                                <fa-icon [icon]="fa.faEdit" title="Editar cronograma"></fa-icon>
                            </a>
                        </div>

                        <div class="col-4">
                            <a class="btn btn-danger" (click)="deleteScheduling(scheduling.id!)">
                                <fa-icon [icon]="fa.faRemove" title="Excluir cronograma"></fa-icon>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>