<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/user/list">Usuários</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</nav>
<h1>Editar Informações do Usuarios</h1>
<hr>

<form class="form" method="post" (ngSubmit)="update()" [formGroup]="form">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="password">Senha</label>
            <input type="text" class="form-control" id="password" placeholder="Senha" formControlName="password">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="phone">Telefone</label>
            <input type="text" class="form-control" id="phone" placeholder="Telefone" formControlName="phone">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="address">Endereço</label>
            <input type="text" class="form-control" id="address" placeholder="Endereço" formControlName="address">
        </div>
        <div class="col-12 text-end mt-2">
            <div class="col-12 text-end mt-2">
                <a class="btn btn-secondary col-2 me-4" href="/user/list">Voltar</a>
                <button class="btn btn-primary col-2">Atualizar</button>
            </div>
        </div>
    </div>
</form>