<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/task/list">Atividades</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar Atividade</li>
    </ol>
</nav>

<h1>Editar atividade</h1>
<hr>

<form class="form-div" method="post" (ngSubmit)="update()" [formGroup]="form">
    <div class="form-row">

        <div class="form-group col-12 mt-2">
            <label for="name" class="text-name">Nome</label>
            <input type="text" class="field-name" id="name" placeholder="Nome" formControlName="name">
        </div>

        <div class="col-12 text-end mt-2">
            <div class="col-12 text-end mt-2">
                <a class="btn col-2 me-4 btn-back" href="/task/list">Voltar</a>
                <button class="btn col-2 btn-create">Salvar</button>
            </div>
        </div>

    </div>
</form>