<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/scheduling/list">Cronogramas</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Criar</li>
    </ol>
</nav>
<h1>Criar novo cronograma</h1>
<hr>

<form class="form" [formGroup]="form" (ngSubmit)="create()">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="event_id">Nome do evento</label>
            <input type="text" class="form-control" id="event_id" placeholder="Nome do evento" formControlName="event_id">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="name">Nome do usuario</label>
            <input type="text" class="form-control" id="user_id" placeholder="Nome do usuario" formControlName="user_id">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="name">Nome da atividade</label>
            <input type="text" class="form-control" id="task_id" placeholder="Nome da atividade" formControlName="task_id">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="value">Valor R$</label>
            <input type="text" class="form-control" id="value" placeholder="Valor" formControlName="value">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="start_time">Horario de Inicio</label>
            <input type="text" class="form-control" id="start_time" placeholder="Horario Inicio" formControlName="start_time">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="end_time">Horario de Termino</label>
            <input type="text" class="form-control" id="end_time" placeholder="Horario Inicio" formControlName="end_time">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="date">Data</label>
            <input type="text" class="form-control" id="date" placeholder="Data" formControlName="date">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="status">Data</label>
            <input type="text" class="form-control" id="status" placeholder="Status" formControlName="status">
        </div>
        <div class="col-12 text-end mt-2">
            <button class="btn btn-primary">Criar</button>
        </div>
    </div>
</form>