<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/list">Evento</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Criar</li>
    </ol>
</nav>
<h1>Cadastrar evento</h1>
<hr>

<form class="form-div" [formGroup]="form" (ngSubmit)="create()">
    <div class="form-div">
        <div class="form-group mt-2 ml-2">
            <label for="name" class="text-name">Nome</label>
            <input type="text" class="field-name" id="name" placeholder="Nome" formControlName="name">
        </div>
        <div class="form-group mt-2 container">
            <label for="img-event">
                <input type="file" id="img-event" class="sr-only lenght-image" accept="image/*" (change)="onImageSelected($event)">
                <img id="image-preview" src="\assets\img\upload-photo.jpeg" alt="Pré-visualização da imagem" class="lenght-image" title="Faça o upload da sua imagem">
            </label>
            
            <h5 class="col-3 text-recomend-img">A dimensão recomendada é de <strong> 1600 x 838</strong>.
                Formato <strong>JPEG ou PNG de no máximo 2MB</strong>.
                Imagens com dimensões diferentes serão redimensionadas.
            </h5>
        </div>
        <div class="form-group mt-2 ml-2">
            <label for="code" class="text-form">Código</label>
            <input type="text" class="field-name" id="code" placeholder="Codigo" formControlName="code">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="description" class="text-form">Descrição</label>
            <textarea type="text" class="text-area" id="description"
                formControlName="description" placeholder="Descreva sobre seu evento"></textarea>
        </div>
        <div class="form-group col-12 mt-2">
            <label for="business" class="text-form">Área de negócio</label>
            <input type="text" class="field-name" id="business" placeholder="Area de negócio"
                formControlName="business">
        </div>
        <div class="row">
            <div class="form-group col-3 mt-2">
                <label for="time" class="text-date">Horario de Inicio</label>
                <input type="time" class="field-time" id="date" placeholder="Data" formControlName="date">
            </div>
            <div class="form-group col-3 mt-2">
                <label for="time" class="text-date">Horario Final</label>
                <input type="time" class="field-time" id="date" placeholder="Data" formControlName="date">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-3 mt-2">
                <label for="date-start" class="text-date">Data Início</label>
                <input type="date" class="field-data" id="date-start" placeholder="Data" formControlName="dateStart">
            </div>
            <div class="form-group col-3 mt-2">
                <label for="date-end" class="text-date">Data Fim</label>
                <input type="date" class="field-data" id="date-end" placeholder="Data" formControlName="dateEnd">
            </div>
        </div>
        <div class="form-group d-flex mt-2">
            <a class="btn btn-back col-2 me-2" href="/event/list">Voltar</a>
            <button class="btn btn-create col-2 me-2">Criar</button>
            <input class="clean-form col-6" type="reset" value="Limpar">
          </div>
    </div>
    
</form>