<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/list">Evento</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Criar</li>
    </ol>
</nav>
<h1>Criar novo evento</h1>
<hr>

<form class="form" [formGroup]="form" (ngSubmit)="create()">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="code">Código</label>
            <input type="text" class="form-control" id="code" placeholder="Codigo" formControlName="code">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="description">Descrição</label>
            <input type="text" class="form-control" id="description" placeholder="Descrição"
                formControlName="description">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="business">Area de negócio</label>
            <input type="text" class="form-control" id="business" placeholder="Area de negócio"
                formControlName="business">
        </div>
        <div class="form-group col-12 mt-2">
            <label for="date">Data</label>
            <input type="text" class="form-control" id="date" placeholder="Data" formControlName="date">
        </div>
        <div class="col-12 text-end mt-2">
            <button class="btn btn-primary">Criar</button>
        </div>
    </div>
</form>