.form-div {
  justify-content: center;
  align-items: center;
  padding-left: 180px;
}

#image-preview {
  max-width: 300px;
  max-height: 150px;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.text-name {
  font-size: 20px;
  padding: 10px;
  width: 100%;
}

.text-form {
  font-size: 20px;
  padding: 10px;
  width: 100%;
}

.field-name {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px;
  width: 600px;
}

.text-date {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.field-data {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px;
  width: 150px;
  padding-bottom: 10px;
}

.text-date {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  padding-top: 30px;
}

.field-time {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px;
  width: 90px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.text-area {
  width: 600px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
}

.text-recomend-img {
  margin-left: 30px;
  font-style: italic;
}

.hrF{
  text-align: right;
  margin-left: 150px;
}

.btns{
  padding-top: 20px;
  gap: 70px;
}

.btn-back,
.btn-create,
.clean-form {
  border-radius: 4px;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
  text-align: center;
}


.btn-back{
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: rgb(0, 0, 0); /*cor do excrito*/
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-color: black; /*cor da borda*/
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;/*cor da caixa*/
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(110, 110, 110);/*cor da transicao*/
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #ffffff; /*cor letra transicao*/
    &:before {
      width: 100%;
    }
  }
  margin: 1%;
}

.btn-create {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: rgb(0, 0, 0); /*cor do excrito*/
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-color: black; /*cor da borda*/
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;/*cor da caixa*/
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(7, 159, 7);/*cor da transicao*/
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #ffffff; /*cor letra transicao*/
    &:before {
      width: 100%;
    }
  }
  margin: 1%;
}

.clean-form {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: rgb(0, 0, 0); /*cor do excrito*/
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-color: black; /*cor da borda*/
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 55, 55);/*cor da caixa*/
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(167, 9, 9);/*cor da transicao*/
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #ffffff; /*cor letra transicao*/
    &:before {
      width: 100%;
    }
  }
  margin: 1%;
}

/* .btn-back {
  margin-left: 0px;
  background-color: gray;
}

.btn-create {
  background-color: #28a745;
}

.clean-form {
  background-color: #dc3545;
} */

.input-group-text {
  font-size: 18px;
  border: none;
  background-color: transparent;
  outline: none;
}