<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/list">Evento</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Criar</li>
    </ol>
</nav>
<h1>Cadastrar evento</h1>
<hr>

<form class="form-div" [formGroup]="form" (ngSubmit)="create()">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="name" class="text-name">Nome</label>
            <input type="text" class="field-name" id="name" placeholder="Nome" formControlName="name">
        </div>
        
        <div class="form-group col-12 mt-2">
            <label for="img-event" class="text-name image-label">Imagem do Evento</label>
            <div class="image-upload-container">
                <input type="file" id="img-event" class="sr-only lenght-image" accept="image/*" (change)="onImageSelected($event)">
                <img id="image-preview" src="/assets/img/upload-photo.png" alt="Pré-visualização da imagem" class="lenght-image" title="Faça o upload da sua imagem">
                <h5 class="text-recomend-img">A dimensão recomendada é de <strong>1600 x 838</strong>. Formato <strong>JPEG ou PNG de no máximo 2MB</strong>. Imagens com dimensões diferentes serão redimensionadas.</h5>
            </div>
        </div>        

        <div class="form-group col-12 mt-2">
            <label for="code" class="text-name">Código</label>
            <input type="text" class="field-name" id="code" placeholder="Código" formControlName="code">
        </div>
        
        <div class="form-group col-12 mt-2">
            <label for="description" class="text-name">Descrição</label>
            <textarea class="field-name" id="description" formControlName="description" placeholder="Descreva sobre seu evento"></textarea>
        </div>
        
        <div class="form-group col-12 mt-2">
            <label for="business" class="text-name">Área de negócio</label>
            <input type="text" class="field-name" id="business" placeholder="Área de negócio" formControlName="business">
        </div>
        
        <div class="form-group col-12 mt-2">
            <label for="date" class="text-name">Data</label>
            <input type="date" class="field-name" id="date" placeholder="Data" formControlName="date">
        </div>
        
        <div class="form-group col-12 mt-2">
            <label for="start_time" class="text-name">Horário de Início</label>
            <input type="time" class="field-name" id="start_time" placeholder="Horário de Início" formControlName="start_time">
        </div>
        
        <div class="form-group col-12 mt-2">
            <label for="end_time" class="text-name">Horário de Término</label>
            <input type="time" class="field-name" id="end_time" placeholder="Horário de Término" formControlName="end_time">
        </div>

        <div class="form-group d-flex mt-2 btns">
            <a class="btn btn-back col-2 me-2" href="/event/list">Voltar</a>
            <button class="btn btn-create col-2 me-2">Criar</button>
            <button class="btn clean-form col-6" type="reset" value="Limpar">Limpar</button>
        </div>
    </div>
</form>
