.form-div {
  justify-content: center;
  align-items: center;
  padding-left: 180px;
}

#image-preview {
  max-width: 300px;
  max-height: 150px;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.text-name {
  font-size: 20px;
  padding: 10px;
  width: 100%;
}

.text-form {
  font-size: 20px;
  padding: 10px;
  width: 100%;
}

.field-name {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px;
  width: 600px;
}

.text-date {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.field-data {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px;
  width: 150px;
  padding-bottom: 10px;
}

.text-date {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  padding-top: 30px;
}

.field-time {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px;
  width: 90px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.text-area {
  width: 600px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
}

.text-recomend-img {
  margin-left: 30px;
  font-style: italic;
}

.btn-back,
.btn-create,
.clean-form {
  border-radius: 4px;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
  text-align: center;
  margin: 0 10px 2px 70px;
}

.btn-back {
  background-color: #6c757d;
}

.btn-create {
  background-color: #28a745;
}

.clean-form {
  background-color: #dc3545;
}

.input-group-text {
  font-size: 18px;
  border: none;
  background-color: transparent;
  outline: none;
}