<div class="base-form">
    <form class="form mat-elevation-z4" [formGroup]="form">
        <h2 class="text-center">Crie sua conta!</h2>
        <mat-form-field>
            <mat-label>Nome completo</mat-label>
            <input matInput placeholder="Nome completo" required="" formControlName="name">
        </mat-form-field>

        @if(form.controls['fullName'].hasError('minlength')){
        <p class="text-danger">Nome deve ter no minimo {{fullNameMinLength}} caracteres</p>
        }
        @else if (form.controls['fullName'].hasError('maxlength')) {
        <p class="text-danger">Nome deve ter no maximo {{fullNameMaxLength}} caracteres</p>
        }

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" required="" formControlName="email">
        </mat-form-field>

        @if(form.controls['email'].hasError('email')){
        <p class="text-danger">Email inválido</p>
        }

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="Senha" maxlength="10" formControlName="password">
        </mat-form-field>

        @if(form.controls['password'].hasError('minlength')){
        <p class="text-danger">Senha deve ter no minimo {{passwordMinLength}} caracteres</p>
        }
        @else if (form.controls['password'].hasError('maxlength')) {
        <p class="text-danger">Senha deve ter no maximo {{passwordMaxLength}} caracteres</p>
        }

        <mat-form-field>
            <mat-label>Repita a senha</mat-label>
            <input matInput type="password" placeholder="Senha" formControlName="repeatPassword">
        </mat-form-field>

        @if(form.controls['repeatPassword'].hasError('minlength')){
        <p class="text-danger">Nome deve ter no minimo {{passwordMinLength}} caracteres</p>
        }
        @else if (form.controls['repeatPassword'].hasError('maxlength')) {
        <p class="text-danger">Nome deve ter no maximo {{passwordMaxLength}} caracteres</p>
        }
        @else if (arePasswordsValid() == false) { <!--ou usar (!arePasswordsValid()-->
        <p class="text-danger">As senhas não são iguais</p>
        }

        <div class="text-center">
            <button mat-raised-button color="primary" [disabled]="isFormInvalid()"
                (click)="createAccount()">Criar</button>
        </div>

        <hr>
        <div class="mt-4">
            <p>Já possui uma conta? <a href="account/sign-in">Clique aqui</a> para entrar agora mesmo!</p>
        </div>
    </form>
</div>