<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/task/list">Atividades</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Lista de Atividades</li>
    </ol>
</nav>

<div class="title d-flex align-items-center justify-content-between">
    <h1 class="lista">Lista de Atividades</h1>

    <div class="info-icon-container">
        <span class="material-icons info-icon" (click)="openInfoModal()">help</span>
    </div>
</div>

<ng-template #infoModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Informações do Sistema</h2>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Aqui você encontra sua lista de atividades cadastrados no sistema. Como administrador, você pode:</p>
        <ul>
            <li>Cadastrar, editar, visualizar ou excluir atividade</li>
            <li>Gerar relatórios em Excel ou imprimir</li>
        </ul>
        <p>
            Para mais informações sobre funcionalidades, acesse a
            <a href="/help" target="_blank">ajuda do sistema</a> 
            ou entre em contato com o 
            <a href="mailto:contato.tasksync@gmail.com" target="_blank">suporte</a>.
        </p>
    </div>
</ng-template>

<div class="d-flex justify-content-between">
    <a class="btn btn-back arrow-back" href="/" *ngIf= "accessType == 'Administrador'">
        <span class="material-icons" >arrow_back</span>
    </a> 
    <a class="btn btn-create" routerLink="/task/create" *ngIf= "accessType == 'Administrador'">
        <fa-icon [icon]="faAdd" title="Adicionar nova atividade"></fa-icon>
        Cadastrar
    </a>
    <div class="search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" id="search" placeholder="Pesquisa" (keyup)="search()">
    </div>
    <div class="navbar">
        <div class="dropdown"> 
            <button class="dropbtn export-button" title="Exportar dados">
                EXPORTAR <i class="fa fa-caret-down icon-space"></i>
            </button>
            <div class="dropdown-content">
                <a (click)="gerarPdf()" title="Gerar pdf e abrir área de impressão">Gerar PDF</a>
                <a (click)="exportExcelEventList()" title="Gerar arquivo excel">Gerar EXCEL</a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-container">
    <ng-container *ngFor="let task of tasks; let i = index">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="table body-text-card">
                    <tbody>
                        <tr>
                            <th scope="row">Atividade</th>
                            <td>{{ task.name }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="action-buttons">
                    <a routerLink="/task/detail/{{ task.id }}">
                        <span class="material-icons color-detail" title="Detalhes atividade" *ngIf= "accessType == 'Administrador'">info</span>
                    </a>
                    <a routerLink="/task/edit/{{ task.id }}" *ngIf= "accessType == 'Administrador'">
                        <span class="material-icons color-edit" title="Editar atividade">edit</span>
                    </a>
                    <a class="btn btn-error me-2" (click)="openMyModal(infoModal)" *ngIf="accessType == 'Administrador'">
                        <span class="material-icons color-delete" title="Exluir tarefa">delete_forever</span>
                    </a>
                    <ng-template #infoModal let-modal>
                        <div class="modal-header">
                            <h2 class="modal-title" id="modal-basic-title">Confirmação de exclusão da atividade {{
                                task.name}}</h2>
                            <button type="button" class="close" aria-label="Close" (click)="closeMyModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Deseja confirmar a exclusão da atividade?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" (click)="deleteTask(task.id!)"
                                *ngIf="accessType == 'Administrador'" (click)="closeMyModal()">EXCLUIR
                            </button>   
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="pagination">
    <mat-paginator 
        [length]="length" 
        [pageSize]="pageSize" 
        [pageSizeOptions]="pageSizeOptions" 
        (page)="handlePageEvent($event)">       
    </mat-paginator>
</div>