<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/task/list">Atividades</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Lista</li>
    </ol>
</nav>
<h1>Lista de Atividades</h1>
<div class="col-4">
    <a class="btn btn-create btn-primary text-white" routerLink="/event/create">
        <fa-icon [icon]="faAdd" title="Adicionar novo cronograma"></fa-icon>
        Criar nova atividade
    </a>
</div>
<hr>

<hr>

<div class="mat-elevation-z8">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">Código</th>
                <th scope="col" class="text-center">Nome</th>
            </tr>
        </thead>
        <tbody>
            @for(task of tasks; track $index){
            <tr>
                <th scope="row" class="text-center">{{task.id}}</th>
                <td class="text-center">{{task.name}}</td>
                <td>
                    <div class="row">
                        <div class="col-4">
                            <a class="btn btn-primary" routerLink="/task/detail/{{task.id}}">
                                <fa-icon [icon]="fa.faAddressCard" title="Ver detalhes"></fa-icon>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-warning" routerLink="/task/edit/{{task.id}}">
                                <fa-icon [icon]="fa.faEdit" title="Editar atividade"></fa-icon>
                            </a>
                        </div>

                        <div class="col-4">
                            <a class="btn btn-danger" (click)="deleteTask(task.id!)">
                                <fa-icon [icon]="fa.faRemove" title="Excluir atividade"></fa-icon>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>