<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/task/list">Atividades</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Lista</li>
    </ol>
</nav>

<h1>Lista de Atividades</h1>

<a class="btn btn-back material-icons arrow-back" href="/">
    <span class="material-icons arrow-back">arrow_back</span> Voltar
</a>

<div class="d-flex justify-content-between">
    <a class="btn btn-create" routerLink="/task/create">
        <fa-icon [icon]="faAdd" title="Adicionar nova atividade"></fa-icon>
        Cadastrar atividade
    </a>

    <div class="search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" id="search" placeholder="Pesquisa" (keyup)="search()">
    </div>

    <a class="btn btn-pdf" (click)="gerarPdf()">
        <span class="material-icons color-print">print</span>
        Imprimir
    </a> 
</div>
<hr>

<div class="card-container">
    <ng-container *ngFor="let task of tasks; let i = index">
        <div class="card">
            <div class="card-header">
            </div>

            <div class="card-body">
                <table class="table body-text-card">
                    <tbody>
                        <tr>
                            <th scope="row">Atividade</th>
                            <td>{{ task.name }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="action-buttons">
                    <a routerLink="/task/detail/{{ task.id }}">
                        <span class="material-icons color-detail" title="Informações">info</span>
                    </a>
                    <a routerLink="/task/edit/{{ task.id }}">
                        <span class="material-icons color-edit" title="Editar atividade">edit</span>
                    </a>
                    <a (click)="deleteTask(task.id!)">
                        <span class="material-icons color-delete" title="Apagar atividade">delete_forever</span>
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div class="pagination">
    <select>
        <option value="5">5 por página</option>
        <option value="10">10 por página</option>
        <option value="15">15 por página</option>
        <option value="50">50 por página</option>
    </select>
    <button onclick="previousPage()">Anterior</button>
    <button onclick="nextPage()">Próximo</button>
</div>