.dashboard {
    padding: 20px;
    
}

.status-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 5%;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    flex: 1;
    color: white;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

.chart-container {
    width: 100%;
    height: 400px;
}

.card-doughnut{
    width: 45%;
}

.imagem-container {
    width: 100%;
    height: auto;
    text-align: center;
}

.imagem-container img {
    max-width: 100%;
    height: auto;
}

.card-body{
    color: black;
    
}

.col-12{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 0%;
}


.btn-access {
    border: none;
    cursor: pointer;
    width: 150px;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: white; /*cor do excrito*/
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: blue;/*cor da caixa*/
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: rgba(9, 9, 163, 0.811);/*cor da transicao*/
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #ffffff; /*cor letra transicao*/
      &:before {
        width: 100%;
      }
    }      

  }