<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Eventos</li>
        </ol>
    </nav>
    <h1>Eventos</h1>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card shadow-lg">
                <img src="images/transferir.jpg" class="card-img-top" alt="Imagem do Evento">

                <div class="card-body">
                    <h2 class="card-title">FAITEC</h2>
                    <ul class="list-unstyled">
                        <li>Descrição do evento</li>
                        <li>Data:</li>
                        <li>Horário:</li>
                    </ul>
                    <div class="col-12 text-end mt-2">
                        <button class="btn btn-primary">Acessar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-lg">
                <img src="src/assets/img/login/transferir.jpg" class="card-img-top" alt="Imagem do Evento">
                <div class="card-body">
                    <h2 class="card-title">Maratona da Programação</h2>
                    <ul class="list-unstyled">
                        <li>Descrição do evento</li>
                        <li>Data:</li>
                        <li>Horário:</li>
                    </ul>
                    <div class="col-12 text-end mt-2">
                        <button class="btn btn-primary">Acessar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-lg">
                <img src="src/assets/img/login/transferir.jpg" class="card-img-top" alt="Imagem do Evento">
                <div class="card-body">
                    <h2 class="card-title">Festa</h2>
                    <ul class="list-unstyled">
                        <li>Descrição do evento</li>
                        <li>Data:</li>
                        <li>Horário:</li>
                    </ul>
                    <div class="col-12 text-end mt-2">
                        <button class="btn btn-primary">Acessar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>