<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventos</title>
</head>
<body>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li><a href="/"  class="breadcrumb-item" title="Página atual">Home</a></li>
      </ol>
    </nav>
    <h2 title="Próximos eventos">Próximos eventos</h2>
    <div class="card-container">
      <p-carousel class="teste" 
        [value]="events" 
        [numVisible]="4" 
        [numScroll]="-1" 
        [circular]="true"
        [autoplayInterval]="5000">
        <ng-template pTemplate="item" let-event>
          <a class="tag-a" routerLink="/event/{{ event.id }}/scheduling/list">
            <div class="card-caurosel">
              <div class="img-next-event">
                <img src="{{event.image ? event.image : '/assets/img/event.png'}}" alt="User Image">
              </div>
              <div class="card-body">
                <table class="table body-text-card">
                  <td class="date-next-event" title="{{event.name}}">
                    {{ event.name | slice: 0: 10 }}...
                    {{ event.date | date: 'dd/MM/yyyy' }}
                  </td>
                </table>
              </div>
            </div>
          </a>
        </ng-template>
      </p-carousel>
      <div id="meuGrafico2" class="teste8" title="Visualização dos gastos dos eventos de forma gráfica"></div>
      <div class="dashboard"title="Visualização dos gastos dos eventos de forma gráfica">
        <div class="status-cards">
          <div class="card" #statusCard title="Total de usuários cadastrados no sistema">
            <h3>Total de Usuários no Sistema</h3>
            <p>{{ totalPessoas }}</p>
          </div>
          <div class="card" #statusCard title="Total de atividades cadastradas no sistema">
            <h3>Total de Atividade no Sistema</h3>
            <p>{{ totalTask }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>