<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventos</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
  </nav>

  <div class="dashboard">
    <h2>Dashboard</h2>
    <div class="status-cards">
      <!-- <div class="card" #statusCard>
        <h3>Total de Pessoas</h3>
        <p>{{ totalPessoas }}</p>
      </div> -->
      <!-- <div class="card" #statusCard>
        <h3>Em Andamento</h3>
        <p>{{ emAndamento }}</p>
      </div>
      <div class="card" #statusCard>
        <h3>Concluído</h3>
        <p>{{ concluido }}</p>
      </div>
      <div class="card" #statusCard>
        <h3>Em Aberto</h3>
        <p>{{ emAberto }}</p>
      </div> -->
      <div class="card-doughnut">
        <p-chart type="doughnut" [data]="data" [options]="options" />
      </div>
    
    </div>
  </div>



</body>

</html>