<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/task/list">Atividades</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar atividade</li>
    </ol>
</nav>
<h1>Cadastrar atividade</h1>
<hr>

<form class="form-div" [formGroup]="form" (ngSubmit)="create()">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="name" class="text-name">Nome</label>
            <input type="text" class="field-name" id="name" placeholder="Nome" 
            formControlName="name">
            <div *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)" class="text-danger">
                <small *ngIf="form.get('name')?.errors?.['required']">O nome é obrigatório.</small>
                <small *ngIf="form.get('name')?.errors?.['minlength']">O nome deve ter no mínimo {{ nameMinLength }} caracteres.</small>
                <small *ngIf="form.get('name')?.errors?.['maxlength']">O nome deve ter no máximo {{ nameMaxLength }} caracteres.</small>
            </div>
        </div>

        <div class="form-group d-flex justify-content-around mt-2 btns">
            <a class="btn btn-back" href="/task/list">Voltar</a>
            <button class="btn clean-form" type="reset" value="Limpar">Limpar</button>
            <button class="btn btn-create">Salvar</button>
        </div>
    </div>
</form>
