.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    max-width: 50%;
    margin: 0 auto;
    /* background-color: #f8f9fa; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

hr {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.text-name {
    font-size: 16px;
    color: #555;
}

.field-name {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.btn-back{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: rgb(0, 0, 0); /*cor do excrito*/
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: gray;/*cor da caixa*/
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: rgb(110, 110, 110);/*cor da transicao*/
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #ffffff; /*cor letra transicao*/
      &:before {
        width: 100%;
      }
    }
    margin: 1%;
  }
  
.btn-create {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: rgb(0, 0, 0); /*cor do excrito*/
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: green;/*cor da caixa*/
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: rgb(7, 159, 7);/*cor da transicao*/
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #ffffff; /*cor letra transicao*/
      &:before {
        width: 100%;
      }
    }
    margin: 1%;
  }
  
.clean-form {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: rgb(0, 0, 0); /*cor do excrito*/
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(233, 55, 55);/*cor da caixa*/
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: rgb(167, 9, 9);/*cor da transicao*/
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #ffffff; /*cor letra transicao*/
      &:before {
        width: 100%;
      }
    }
    margin: 1%;
  }


.btn-back,
.btn-create,
.clean-form {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    text-align: center;
    margin: 0 10px 2px 70px;
}

.form-group.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
}


/* .btn-back {
    background-color: #6c757d;
}

.btn-create {
    background-color: #28a745;
}

.clean-form {
    background-color: #dc3545;
} */

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}
