<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/task/list">Atividades</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar nova atividade</li>
    </ol>
</nav>
<h1>Cadastrar nova atividade</h1>
<hr>

<form class="form" [formGroup]="form" (ngSubmit)="create()">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name">
        </div>
        <div class="col-12 text-end mt-2">
            <button class="btn btn-primary">Criar</button>
        </div>
    </div>
</form>
